In [1]:
#dependencies
import pandas as pd #Pandas
from sqlalchemy import create_engine #SQL

#engine=create_engine('postgresql://postgres:{YOURPASSWORD}@localhost:5432/employee?sslmode=disable')
from config import password
engine = create_engine(f'postgresql://postgres:{password}@localhost:5432/employeesql')
connection=engine.connect()
print(engine)

#scipy,numpy,matplotlib
#%matplotlibinline
from matplotlib import pyplot as plt
import numpy as np
import scipy.stats as stats

ModuleNotFoundError: No module named 'config'

In [ ]:
emp=pd.read_sql("SELECT * FROM employees", connection)
salary=pd.read_sql("SELECT * FROM salaries", connection)
title=pd.read_sql("SELECT * FROM titles", connection)

In [ ]:
salary

In [ ]:
title

In [ ]:
emp

In [ ]:
# Merge emp and salary by emp_no
combined=pd.merge(emp,salary, on='emp_no',how='outer')
combined.head()

In [ ]:
fc.describe()

In [ ]:
fc.info()

In [ ]:
plt.hist(salary['salary'],15,density=False,alpha=.7,label="salary")
plt.axvline(salary['salary'].mean(),color='orange', linestyle='dashdot',linewidth=1, label="mean salary")
plt.xlabel("salaries")
plt.ylabel("Employees")
plt.legend()
plt.title("Most common Salary")

In [ ]:
#Salary by Title
titlecomb=fc[['title','salary']].groupby('title').mean()
titlecomb

In [ ]:
Titles=titlecomb.index
Salary=titlecomb.values
x_axis=np.arange(len(Titles))
ticks=[value for value in x_axis]
plt.xticks(ticks,Titles, rotation=90)
plt.title("Salaries by Title")
plt.xlabel("Title")
plt.ylabel("Mean Salary")
chart=plt.bar(x_axis,Salary,alpha=.7, align="center")
    
#plt.show()